name: Jupyter
 
on:
  workflow_dispatch:
  schedule:
    # Run every day at 5:00 PM UTC
    - cron: '0 17 * * *'
 
jobs:
  build:
    runs-on: ubuntu-latest
 
    steps:
      - name: Repo Checkout
        uses: actions/checkout@v4
 
      - name: Python Setup & Packages Installation
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: 'pip'
          cache-dependency-path: 'requirements.txt'
 
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install nbconvert
 
      - name: Jupyter Notebook Execution
        run: jupyter nbconvert --to notebook --execute Scheduled_gnews.ipynb
